
@{
    ViewBag.Title = "Index";
}

<h2>Policy Index</h2>
<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#home">Home</a></li>
    <li><a href="#profile">Profile</a></li>
    <li><a href="#messages">Messages</a></li>
</ul>

<div class="tab-content responsive">
    <div class="tab-pane active" id="home">...test...</div>
    <div class="tab-pane" id="profile">...content...</div>
    <div class="tab-pane" id="messages">...test content...</div>
</div>

<script src="~/Scripts/Project/Policy.js"></script>
