@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GROWTH ACCELERATION PARTNERS</h1>
    <p class="lead">Test insurance policies.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>CLIENTS</h2>
        <p>
            View and manage all details related to company customers.
        </p>
        <p><a class="btn btn-primary" href="/Clients">go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>POLICY</h2>
        <p>
            View and manage the policy portfolio that the company has..
        </p>
        <p><a class="btn btn-primary" href="/Policy">go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>POLICY TYPE</h2>
        <p>
            View and manage the different types of policies that the company has at the service of customers.
        </p>
        <p><a class="btn btn-primary" href="/PolicyType">go &raquo;</a></p>
    </div>
</div>